# ArduPilot SITL simulation directories
Boat/
logs/

# Common system files
.DS_Store
*.swp
*~

# Python
__pycache__/
*.py[cod]
*$py.class

# Logs and databases
*.log
*.sqlite
*.db
*.bin
*.tlog
*.parm

# Environment files
.env
.venv
env/
venv/
ENV/

# IDE specific files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project 